.env
/env
/.venv
.venv/Scripts
__pycache__
Dockerfile
/*.json
app\jiraModule\components\jiraCredential.env
GDRBack
/source/.env
.vscode
alt.py
/ejemplosDeLLamada
/modules/utils/token.json
/modules/utils/enviarMail.py
/modules/utils/enviarMail2.py
/modules/utils/Google.py